<div class="ui container margin hidden-small">
  <div class="ui two column centered grid">
    <div class="ui horizontal list menu-details">
      <div class="item">
        <div class="content">
          <div class="header">opening hours</div>
          Open until 23:00
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">distance</div>
          400m
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">address</div>
          {{caterer.profile.street}}, {{caterer.profile.postcode}}
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">phone</div>
          {{caterer.profile.phoneNumber}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui container stackable grid food-list-container">
  <!-- <div class="ui divided items twelve wide column">
    <div class="item">
      <div class="ui small image">
        <img src="/images/image.png">
      </div>
      <div class="middle aligned content">
        <div class="header">
          Content A
        </div>
        <div class="meta">
          <span class="price">£3.00</span>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed dia.</p>
          <input-stars max="5" readonly="true" ng-model="3"></input-stars>
        </div>
        <div class="extra">
          <div class="ui right floated button">
            add
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui small image">
        <img src="/images/curry.jpg">
      </div>
      <div class="middle aligned content">
        <div class="header">
          Content B
        </div>
        <div class="meta">
          <span class="price">£3.00</span>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam non.</p>
          <input-stars max="5" readonly="true" ng-model="3"></input-stars>
        </div>
        <div class="extra">
          <div class="ui right floated button">
            add
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui small image">
        <img src="/images/curry.jpg">
      </div>
      <div class="middle aligned content">
        <div class="header">
          Content C
        </div>
        <div class="meta">
          <span class="price">£3.00</span>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing el.</p>
          <input-stars max="5" readonly="true" ng-model="3"></input-stars>
        </div>
        <div class="extra">
          <div class="ui right floated button">
            add
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="ui items twelve wide column" ng-repeat="(key, value) in caterer.dishes | orderBy:'meal' | groupBy:'meal'">
    <h1 class="ui header" ng-switch="key">
      <span ng-switch-when="null">Other</span>
      <span ng-switch-default>{{key | ucfirst}}</span>
    </h1>
    <div class="ui item meal" ng-repeat="dish in value">
      <div class="ui small image">
        <img src="{{ dish.picture }}">
      </div>
      <div class="middle aligned content">
        <div class="header">
          {{ dish.name | ucfirst}}
        </div>
        <div class="meta">
          <div class="price">
            <span ng-class="{'selected': sortBy == 'price'}">{{ dish.price|currency:"£" }}</span>
            |
            <span ng-class="{'selected': sortBy == 'cuisine'}">{{ dish.cuisine | ucfirst}}</span>
          </div>
        </div>
        <div class="description">
          <p>{{ dish.description }}</p>
          <input-stars max="5" readonly="true" ng-model="dish.rating"></input-stars>({{ dish.numberOfRatings }})
        </div>
        <div class="extra">
          <div class="ui right floated button" ng-click="order.addDish(dish)">
            add
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column your-order no-padding-top" ng-class="{'open': viewBasket}">
    <h1 class="hidden-small">Your order</h1>
    <div class="ui form">
      <div class="inline fields">
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
            <label>Collection</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="fruit" tabindex="0" class="hidden">
            <label>Delivery</label>
          </div>
        </div>
      </div>
    </div>
    <div class="estimated-delivery-time-container hidden-small">
      <div class="estimated-delivery-time" ng-if="!editDeliveryTime">
        <div class="header">estimated time</div>
        <div class="time" ng-switch="order.estimatedTime">
          <span ng-switch-when="null">-&nbsp;-</span>
          <span ng-switch-default>{{ order.estimatedTime }}</span>
        </div>
        <div class="unit">minutes</div>
      </div>
      <div class="estimated-delivery-time" ng-if="editDeliveryTime">
        <form name="deliveryTimeForm" class="ui form" ng-submit="changeDeliveryTime()">
          <div class="field">
            <input type="text" name="postCode" ng-model="currentSearch.postcode" placeholder="E.G. SW1A 1AA">
          </div>
          <div class="field">
            <div class="two fields">
              <div class="field">
                <select class="ui fluid dropdown">
                  <option ng-repeat="day in currentSearch.availableDays" value="{{day}}">{{day | ucfirst}}</option>
                </select>
              </div>
              <div class="field">
                <select class="ui fluid dropdown">
                  <option ng-repeat="time in currentSearch.availableTimes" value="{{day}}">{{time | ucfirst}}</option>
                </select>
              </div>
            </div>
          </div>
          <button class="ui submit wide inverted button">Save</button>
        </form>
      </div>
      <a ng-click="toggleEditDeliveryTime()" ng-if="!editDeliveryTime">Change Delivery Time</a>
    </div>
    <div class="ui middle aligned divided list toggle-basket-button-container">
      <div class="item">
        <div class="large ui button center" ng-click="toggleBasket()" ng-if="!viewBasket">
          View basket
        </div>
        <div class="large ui button center" ng-click="toggleBasket()" ng-if="viewBasket">
          Close
        </div>
      </div>
    </div>
    <div class="ui middle aligned divided list bill-items">
      <div class="item" ng-repeat="item in order.items">
        <div class="right floated content">
          <div class="header">{{ item.price|currency:"£" }}</div>
        </div>
        <div class="content">
          <p>{{item.quantity}}x {{ item.dish.name | ucfirst}}</p>
          <div class="ui icon buttons quatity">
            <button class="mini ui button" ng-click="order.removeDish(item.dish)"><i class="fa fa-minus"></i></button>
            <button class="mini ui button" ng-click="order.addDish(item.dish)"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui middle aligned divided list bill">
      <div class="item">
        <div class="right floated content">
          <div class="header price">{{ order.total|currency:"£" }}</div>
        </div>
        <div class="content total-label">
          Total
        </div>
      </div>
      <div class="item">
        <div class="large ui button wide" ui-sref="main.checkout.details">
          Checkout
        </div>
      </div>
    </div>
  </div>
</div>
