.ui.inverted.menu .item,
.ui.inverted.menu .item > a:not(.ui) {
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
}

.ui.inverted.menu .item,
.ui.inverted.menu .item > a:not(.ui) {
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
}

.ui.secondary.vertical.pointing.menu .active.item {
  border-color: $primary-color;

  i {
    path {
      fill: $accent-color;
    }
  }
}

.ui.secondary.vertical.pointing.menu .item:hover {
  border-color: $dark-primary-color;
  color: $dark-primary-color;
}

.ui.secondary.pointing.menu .active.item {
  color: $primary-color;
}

.ui.secondary.pointing.menu .item:hover {
  border-color: $dark-primary-color;
  color: $dark-primary-color;
}

.ui.text.menu .active.item span {
   color: $primary-color;

    i{
      color: $primary-color;
    }
 }

.ui.text.menu .item:hover span {
  color: $primary-color;

  i{
    color: $primary-color;
  }
}

