$font-stack:    Helvetica, sans-serif;

//$primary-color: #F9C137;
$primary-color: #C64C52;

//$dark-primary-color: #F98A1A;
$dark-primary-color: #A62B31;

$light-primary-color: #FFE4B5;

$accent-color: #df2029;

$midnight-blue:#2c3e50;

