/* Styles */
@media only screen and (max-device-width : 320px) {

}

/* Styles */
@media only screen and (max-device-width : 768px) {
  .your-order {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

/* Styles */
@media only screen and (max-device-width : 992px) {

}

/* Styles */
@media only screen and (max-device-width : 1280px) {

}

/* Styles */
@media only screen and (max-device-width : 1920px) {

}
